################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lineage2ServerLauncher/bin/Debug/server
/lineage2ServerLauncher/bin/Debug/java
/lineage2ServerLauncher/bin/Release/server
/lineage2ServerLauncher/bin/Release/java
